*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	background-color: #333;
	
}


#jumbotron-section{
	
}


#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	background-image: url("../images/slide_smile3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	/*opacity: 1;*/

}

.bg-navbar{
	background-color: white;
	padding-left: 200px;
	padding-right: 200px;
	min-height: 10%;
	opacity: 0.5;
}

#carousel-home{
	height: 100vh;
}

#carousel-home img{
	height: auto;
	max-height: 100vh;
}































@media only screen and (max-width: 768px){
	#carousel-home{
		height: auto;
	}
}


@media only screen and (max-width: 450px){

#carousel-home{
	height: auto;
	}
}