*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
}

html{
	scroll-behavior: smooth;
}

#top{
	padding-top: 50px;
}

#jumbo-div{
	padding-top: 10%;
	min-height: 100vh;
	/*height: 100vh;*/
	background-image: url("../images/slide_smile3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	/*opacity: 1;*/

}

.bg-navbar{
	background-color: white;
	padding-left: 10%;
	padding-right: 10%;
	min-height: 50px;
	/*opacity: 0.5;*/
	box-shadow: 0 0 5px #aaaaaa;
	
}

#carousel-home{
	height: 85vh;
	
}

#carousel-home img{
	height: 85vh;
	max-height: 85vh;
}

#logo{
	/*width: 40%;*/
	height: 50px;
}

.servicesContainer{
	
	min-height: 100vh;
	padding-top: 100px;
}


.cardHeight{
	/*height: 300px;*/
	min-height: 300px;

}

.card img{
	height: 300px;
	min-height: 300px;

}

.card{
	border: none;
}

.dentist{
	border-radius: 200px;
}



























@media only screen and (max-width: 768px){
	#carousel-home{
		height: auto;
	}
}


@media only screen and (max-width: 450px){

	#carousel-home{
		height: auto;
		}




}