*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
}


#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	background-image: url("../images/slide_smile3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	/*opacity: 1;*/

}

.bg-navbar{
	background-color: white;
	padding-left: 10%;
	padding-right: 10%;
	min-height: 50px;
	
}

#carousel-home{
	height: 80vh;
	
}

#carousel-home img{
	height: 80vh;
	max-height: 80vh;
}

#logo{
	width: 250px;
	height: 50px;
}

.servicesContainer{
	height: 100vh;
}





























@media only screen and (max-width: 768px){
	#carousel-home{
		height: auto;
	}
}


@media only screen and (max-width: 450px){

#carousel-home{
	height: auto;
	}
}